:root {

  font-size: 1.25rem;

  --clr-black: 0, 0%, 0%;
  --clr-white: 0, 0%, 100%;
  --clr-accent: 231, 77%, 90%;
  --clr-span: 209, 37%, 43%;
 
  --br: 0.5em;
  --transition: transform 200ms cubic-bezier(0.21, 1, 0.81, 1);

   font-family: 'Kalam', serif;


  /********************      Font-Sizes    ***********************/

  --fs-300: clamp(0.8rem, 0.8rem + 0cqi, 0.8rem);
  --fs-400: clamp(1rem, 1rem + 0cqi, 1rem);
  --fs-500: clamp(1.25rem, 1.25rem + 0cqi, 1.25rem);
  --fs-600: clamp(1.5625rem, 1.5625rem + 0cqi, 1.5625rem);
  --fs-700: clamp(1.9531rem, 1.9531rem + 0cqi, 1.9531rem);
  --fs-800: clamp(2.4414rem, 2.4414rem + 0cqi, 2.4414rem);
  --fs-900: clamp(3.0518rem, 3.0518rem + 0cqi, 3.0518rem);

  /********************       Spaces       ***********************/

  --space-4xs: clamp(0.125rem, 0.125rem + 0cqi, 0.125rem);
  --space-3xs: clamp(0.25rem, 0.25rem + 0cqi, 0.25rem);
  --space-2xs: clamp(0.5rem, 0.5rem + 0cqi, 0.5rem);
  --space-xs: clamp(0.75rem, 0.75rem + 0cqi, 0.75rem);
  --space-s: clamp(1rem, 1rem + 0cqi, 1rem);
  --space-m: clamp(1.5rem, 1.5rem + 0cqi, 1.5rem);
  --space-l: clamp(2rem, 2rem + 0cqi, 2rem);
  --space-xl: clamp(3rem, 3rem + 0cqi, 3rem);
  --space-2xl: clamp(4rem, 4rem + 0cqi, 4rem);
  --space-3xl: clamp(5rem, 5rem + 0cqi, 5rem);
  --space-4xl: clamp(6rem, 6rem + 0cqi, 6rem);
  --space-5xl: clamp(7rem, 7rem + 0cqi, 7rem);
  --space-6xl: clamp(8rem, 8rem + 0cqi, 8rem);
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
p,
picture
 {
    margin: 0;
    padding-inline: 1em; 
}


/* set up the body */
body{
  min-height: 100vh;
  margin:0;
  overflow-y: hidden;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    object-fit: contain;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/******Custom Colors****/

.clr-black {
  color: hsl(var(--clr-black));
}

.clr-white {
  color: hsl(var(--clr-white));
}

.clr-accent {
  color: hsl(var(--clr-accent));
}

.clr-span {
  color: hsl(var(--clr-span));
}

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.d-block {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: .5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

.numbered-title {
  font-size: var(--fs-400);
  letter-spacing: 2.72px;
}

.numbered-title span {
  margin-right: .5em;
  font-size: var(--fs-500);
  color: hsl(var(--clr-white) / .25);
}

/* --------------------------------------- */
/* ----- Headlines and Paragraphs ----- */
/* --------------------------------------- */


.nav {
    line-height: 1;
    font-size: var(--fs-300);
   }

@media(max-width: 900px) {
    .nav {
        font-size: 6.5rem;
    }
}

h3 {
    font-size:var(--fs-400);
}

h3::after {
    content: '';
    display: block;
    height: 3px;
    width: 12rem;
    background: #4FBEE0;
    margin-inline:0 0.3em;
}


/* ------------------- */
/*****Page Specific*****/
/* ------------------- */

main{
  container-type: inline-size;
  container-name:main;
  min-height: 100dvh;
  width:100%;
}

/* ------------------- */
/***** Home Page  -*****/
/*--------------------*/

.index{
  container-type: inline-size;
  container-name:home;
  min-height: 100dvh;
  width:100%;
  margin-inline: auto;
  padding-inline: 0 auto;
  place-self:center ;
  background: linear-gradient(#000, #000 20px, transparent),
  linear-gradient(transparent, #fff 100%),
  linear-gradient(#fff,
      #fff 1px,
      transparent 1px,
      transparent 40px),
  repeating-linear-gradient(to right,
      #fff,
      #ffff 1px,
      transparent 40px) #3b3636;
background: fixed linear-gradient(#000, #000 20px, transparent),
  fixed linear-gradient(transparent, #fff 100%),
  fixed linear-gradient(#fff,
      #fff 1px,
      transparent 1px,
      transparent 40px),
  fixed repeating-linear-gradient(to right,
      #fff,
      #ffff,
      1px,
      transparent 40px) #3b3636;
 }

 .welcome{
  color: #fff;
  text-align: center;
  
  place-self:center;
  padding:8em 8em;
 }

.front {
   -webkit-transition: 250ms;
   transition: 250ms;
}

h3 {
  font-size:var(--fs-400);
  display: block;
}

h3::after {
  content: '';
  display: block;
  height: 3px;
  width: 12rem;
  margin-left: 2em;
  background: #4FBEE0;
}

.game .front > img {
  padding-bottom: 0em;
}

.back{
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   gap: 1.5em;
   -webkit-transform: translateY(35%);
   transform: translateY(35%);
}

.back .streaming-info {
   margin: 0em;
  -webkit-column-rule: 4px solid rgba(255, 255, 255, 0.25);
   column-rule: 4px solid rgba(255, 255, 255, 0.25);
}

.back .game-stat {
   font-size: var(--fs-400);
   text-align: center;
}

.back .game-stat span {
   font-size: 1.6rem;
   display: block;
  
}

.background {
   background: #000000;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: -1;
   -webkit-transform: scale(0.2, 0.9);
   transform: scale(0.2, 0.9);
   opacity: 0;
   border-radius: var(--br);
   overflow: hidden;
}

.background img {
   opacity: 0.8;
   margin-inline: 0 auto;
   width: 100%;
   -o-object-fit: cover;
   object-fit: cover;
}

.game:hover .front {
   -webkit-transform: translateY(-30%) scale(0.8);
   transform: translateY(-30%) scale(0.8);
}

.game:hover .front .name {
   -webkit-animation: gameName 250ms forwards;
   animation: gameName 250ms forwards;
}

.game:hover .front .stats {
   opacity: 0;
}

.game:hover .back {
   opacity: 1;
   -webkit-transition: opacity 150ms linear,
      -webkit-transform 250ms ease;
   transition: opacity 150ms linear,
      -webkit-transform 250ms ease;
   transition: transform 250ms ease, opacity 150ms linear;
   transition: transform 250ms ease, opacity 150ms linear,
      -webkit-transform 250ms ease;
   -webkit-transform: translateY(0);
   transform: translateY(0);
}

.game:hover .back .name {
   font-weight: bold;
}

.game:hover .background {
   -webkit-transition: var(--transition),
      opacity 100ms linear;
   transition: var(--transition), opacity 100ms linear;
   opacity: 1;
   -webkit-transform: scale(1.35, 1.3) translateY(5%);
   transform: scale(1.35, 1.3) translateY(5%);
}

@-webkit-keyframes gameName {
   0% {
      text-align: left;
      opacity: 1;
   }
   20% {
      text-align: left;
      opacity: 0;
   }
   50% {
      text-align: center;
      opacity: 0;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
   }
   100% {
      text-align: center;
      opacity: 1;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
   }
}

@keyframes gameName {
   0% {
      text-align: left;
      opacity: 1;
   }
   20% {
      text-align: left;
      opacity: 0;
   }
   50% {
      text-align: center;
      opacity: 0;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
   }
   100% {
      text-align: center;
      opacity: 1;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
   }
}



/* --------------------------------------- */
/* -----         Intro - Page        ----- */
/* --------------------------------------- */

.intro {
  display: flex;
  padding:2rem;
  flex-direction: row;
  align-items:start;
  justify-content: space-around;
  background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), 
      url(/raffaele-fun/docs/images/header-desktop.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}

.large-button {
    /*margin-right: 100%;*/
    font-size: 2rem;
    position: relative;
    z-index: 1;
    display: inline-flex;
    place-items: center;
    padding: 0 2em;
    border-radius: 50%;
    aspect-ratio: 1 / .5;
    text-decoration: none;
}

.large-button::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 50%;
    background: hsl( var(--clr-white) / .8);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}
 
.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}



/* --------------------------------------- */
/* ----- Buttons and Links ----- */
/* --------------------------------------- */

a {
  color: var(--white);
  font-weight: 400;
  font-family:ff-sans-normal;
  transition: all .2s;
  outline: 2px solid transparent;
}

::-moz-focus-inner {
  border: 0;
}

button:focus,
a:focus {
  outline: 2px solid #4FBEE0;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) a:focus {
  outline: none;
}

.link:hover {
  color: var(--pink);
}

.btn {
  position: relative;
  display: inline-block;
  padding: 1rem 4.2rem;
  text-decoration: none;
  color: inherit;
  border: 1px solid  white;
  font-weight: 400;
}

.btn:focus {
  outline: none;
}

.btn::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  background: var(--white);
  height: 100%;
  z-index: -1;
  transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.btn:hover::after,
.btn:focus::after {
  right: 0;
  background:#4FBEE0;
}

.btn--pink {
  background: #4FBEE0;
  transition: all 0.2s;
}

.btn--pink::after {
  display: none;
}

.btn--pink:hover,
.btn--pink:focus {
  background: transparent;
}

.link__text {
  position: relative;
  display: inline-block;
  padding: .6rem;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #4FBEE0;
}

.link__text::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  background: var(--white);
  height: 100%;
  z-index: -1;
  transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.link__text:focus {
  outline: none;
}

.link__text:hover::after,
.link__text:focus:after {
  right: 0;
  background: #4FBEE0;
}

.link__text span {
  padding-left: 1rem;
  font-family: sans-serif;
}

/* --------------------------------------- */
/* ----- Navigation-menu ----- */
/* --------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --color-default:#000000;
  --color-second:#0067ac;
  --color-white:#fff;
  --color-body:#e4e9f7;
  --color-light:#e0e0e0;
}


*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
  width:100vw;
}

.sidebar{
  min-height: 100vh;
  width: 110px;

  padding: 2px 20px;
  z-index: 99;
  background-color: var(--color-default);
  transition: all 1s ease-in-out;
  position: fixed;
  top:0;
  left: 0;
}

.sidebar.open{
  width: 260px;
}

.sidebar .logo_details{
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo_details .icon{
  opacity: 0;
  transition: all .9s ease-in-out ;
}



.sidebar .logo_details .logo_name{
  color:var(--color-white);
  font-size: 15px;
  font-weight: 600;
  opacity: 0;
  transition: all .9s ease;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name{
  opacity: 1;
}

.sidebar .logo_details #btn{
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 40px;
  text-align: center;
  cursor: pointer;
  transition: all .9s ease-in-out;
}

.sidebar.open .logo_details #btn{
  text-align: right;
}

.sidebar i{
  color:var(--color-white);
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  font-size: 40px;
  text-align: center;
}

.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}

.sidebar li{
  position: relative;
  margin:8px 0;
  list-style: none;
}

.sidebar li .tooltip{
  position: absolute;
  top:-20px;
  left:calc(100% + 15px);
  z-index: 3;
  background-color: var(-color-white);
  box-shadow: 0 5px 10px rgba(182, 184, 204, 0.384);
  padding: 6px 14px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s ease-in-out;
  top:50%;
  transform: translateY(-30%);
  color:var(--color-light);
}

.sidebar.open li .tooltip{
  display: none;
  color:var(--color-light);
}





.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-default);
  position: relative;
  transition: all .5s ease;
  z-index: 12;
}

.sidebar li a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  background-color: var(--color-white);
  border-radius: 5px;
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  z-index: -2;
}

.sidebar li a:hover::after{
  /*transform: scaleX(1);*/
   transform: scaleX(1);
  color:var(--color-light)
}

.sidebar li a .link_name{
  color:var(--color-light);
  font-size: 17px;
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.9s ease-in-out;
  pointer-events: none;
  opacity: 0;
}

.sidebar li a:hover .link_name,
.sidebar li a:hover i{
  transition: all 0.5s ease-in-out;
  color:var(--color-default);
}



.sidebar.open li a .link_name{
  opacity: 1;
  pointer-events: auto;
 
}

.sidebar li i{
  height: 50px;
  line-height: 35px;
  font-size: 35px;
  border-radius: 9px;
}


 



.sidebar li.profile .name,
.sidebar li.profile .designation{
  font-size: 15px;
  font-weight: 400;
  color:var(--color-white);
  white-space: nowrap;
}

.sidebar li.profile .designation{
  font-size: 12px;
}


.home-section{
  position: relative;
  background-color: var(--color-default);
  color:var(--color-light);
  min-height: 100vh;
  width:100vw;
  top:0;
  left:78px;
  width: calc(100% - 78px);
  transition: all .9s ease-in-out;
  z-index: 2;
}

.home-section .text{
  display: inline-block;
  color:var(--color-light);
  font-size: 35px;
  font-weight: 500;
  margin: 13rem ;
}

.sidebar.open ~ .home-section{
  left:250px;
  width: calc(100% - 250px);
}


.header {
  background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), 
      url('header.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: var(--font-size-normal);
}

.header__text {
  font-family: sans-serif;
  font-size: var(--fs-500);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header text {
  font-family:var(--ff-sans-cond);
  font-size: var(--fs-400);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.header__text p {
  margin: 1.5rem 0 3.5rem;
  max-width: var(--container-medium-width);
  font-family:var(--ff-sans-normal);
  font-size: var(--fs-400);
}
.text{
  margin-left: 10rem;
  margin-top: 10rem;
}

@media(max-width: 500px) {
  .header {
      text-align: center;
  }

  .header__text p {
      transform: scale(.8);
  }
}

/* --------------------------------------- */
/* ----- About ----- */
/* --------------------------------------- *
.about {
    display: flex;
    padding:2rem;
    flex-direction: row;
    align-items:start;
    justify-content: space-around;
    background: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .4)), 
        url('header.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}




/* --------------------------------------- */
/* ----- Work ----- */
/* --------------------------------------- *

.work__box {
    display: flex;
    align-items: center;
}

@media(max-width: 900px) {
    .work__box {
        align-items: initial;
        flex-direction: column-reverse;
    }
}

.work__box:not(:last-child) {
    margin-bottom: 25rem;
}

@media(max-width: 500px) {
    .work__box:not(:last-child) {
        margin-bottom: 20rem;
    }
}

.work__links {
    display: flex;
    align-items: center;
}

.work__text {
    flex: 0 0 30%;
}

.work__list {
    /* list-style-type: square; *
    list-style-position: inside;
    margin-bottom: var(--gutter-normal);
}

.work__code {
    display: block;
    height: 3rem;
    margin-left: var(--gutter-normal);
    transition: all .3s;
}

.work__code:hover {
    transform: scale(1.2);
}

.work__image-box {
    margin-bottom: var(--gutter-normal);
}

@media(min-width: 901px) {
    .work__image-box {
        flex: 1;
        margin: 0 0 0 10rem;
    }
}

@media(max-width: 900px) {
    .work__code {
        height: 4rem;
    }
}*/

/* --------------------------------------- */
/* ----- Clients ----- */
/* --------------------------------------- *

.client__logos {
    display: flex;
    justify-content: space-between;
    filter: invert(100%) grayscale(100%) opacity(.8);
}

.client__logo {
    height: 6.5rem;
    max-width: 18rem;
}

@media(max-width: 1240px) {
    .client__logos {
        overflow-x: scroll;
        padding: var(--gutter-normal);
    }

    .client__logo:not(:last-of-type) {
        margin-right: var(--gutter-medium);
    }
}

/* --------------------------------------- */
/* ----- About ----- */
/* --------------------------------------- *

.about__content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media(max-width: 900px) {
    .about__content {
        flex-direction: column-reverse;
        align-items: initial;
    }
}

.about__photo-container {
    margin-bottom: var(--gutter-normal);
}

@media(min-width: 901px) {
    .about__text {
        flex: 0 0 35%;
    }
    
    .about__photo-container {
        flex: 1;
        margin: 0 var(--gutter-huge) 0 0;
    }
}


